@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme{
    --font-Irish: "Irish Grover", system-ui;
    --font-IstokWeb: "Istok Web", sans-serif;
    --font-Inria-Serif: "Inria Serif", serif;
}